@font-face {
  font-family: "EstedadExtraBold";
  src: url("/src/assets/fonts/Estedad-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "EstedadMedium";
  src: url("/src/assets/fonts/Estedad-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "EstedadLight";
  src: url("/src/assets/fonts/Estedad-Light.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glassy {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.bg-glassy-red {
  background-color: rgba(201, 99, 99, 0.2);
  backdrop-filter: blur(10px);
}

.leaflet-routing-instructions {
  display: none !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-swiper {
  overflow: none !important;
}

.custom-swiper .swiper-slide {
  width: 100% !important;
  display: flex;
  justify-content: center;
}
.swiper-pagination {
  bottom: -5px !important;
}
.product-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure cards stretch to parent container */
}

.product-card > div {
  flex: 1; /* Distribute space evenly */
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}
.animate-jump {
  animation: jump 0.5s ease-in-out infinite;
}
